
/* Main - Account */

.SoMe-account a {
    font-size: 2.5em;
    padding: 10px;
    margin: 10px;
}

.SoMe-account a:nth-child(1) {
    color: #25D366;
}
.SoMe-account a:nth-child(2) {
    color: #1DA1F2;
}
.SoMe-account a:nth-child(3) {
    color: #4267B2;
}

.account-container {
    display: grid;
    align-items: center;
    justify-items: center;
    margin: 0px 15px;
}


/* Main - Create Account */

.create-account-main-container {
    display: grid;
    grid-template-rows: repeat(5, auto);
    margin: 0px 15px;
}

.form-container form {
    display: grid;
    grid-template-rows: repeat(10, auto);
    gap: 10px;
}

.form-container input {
    height: 44px;
    border-radius: 5px;
    border: 1px solid #333;
}

.stepper-container {
    justify-self: center;
}

.stepper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
    padding: 0px;
    max-width: 340px;
    gap: 0px 5px;
}

.stepper-item {
    text-align: center;
}

.stepper li:first-child {
    border: 1px solid #FDC50A;
    border-radius: 10px;
    background-color: #FDC50A;
}

.stepper-item:before {
    content: "";
    position: relative;
    display: block;
}