@font-face {
    font-family: 'Inter', sans-serif;
}

/* Home page global styles */
header, footer {
    background-color: #333333;
}
body {
    font-family: "Inter";
}

















/* Home page mobile styles */
@media only screen and (min-width:390px) {
    
/* header */    
    nav {
        display: none;
    }

    #hamburger-menu {
        display: none;
    }

    #hamburger-menu:checked ~ nav {
        display: block;
    }
    label {
        color: #eee;
    }


/* main */
/* footer */
    
}

/* desktop styles */
@media only screen and (min-width:800px) {

}