@font-face {
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Inter&family=Roboto&display=swap");
}

/* Global styles */

/* Grid Template */

header {grid-area: header;}
nav {grid-area: nav;}
main {grid-area: main;}
footer {grid-area: footer;}

body {
    font-family: "Inter";
    display: grid;
    grid-template-areas: 
    "header header"
    "main main"
    "nav nav"
    "footer footer";
    margin: 0px;
}


/* Main-Nav */



/* Header */


/* Local-Nav */

.search-mobile {
    border-radius: 20px;
    width: 300px;
    height: 2.3em;
    margin: 15px 0px 0px 0px;
    border-color: #FDC50A;
    background-color: transparent;
}

input::placeholder {
    color: #777;
    font-size: 1.3em;
}

.local-nav-container {
    height: 120px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: #eee;
    justify-items: center;
    align-items: center;
}

.local-nav-menu {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
.local-nav-menu a {
    color: #333;
    display: grid;
    text-align: center;
    gap: 2px;
    text-decoration: none;
    font-size: 0.8em;
    padding: 10px 5px;
}





    
    
    

   

   
    



  




/* Main */

main h2 {
    font-size: 1em;
    text-align: center;
    padding: 10px;
}

main h3, main p {
    font-size: 0.8em;
    margin: 5px 0px;
}

.home-page-images-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin: 10px;
}

.home-page-images, .promotional-image {
    width: 100%;
    margin: auto;
}






/* Footer */

.copyright {
    text-align: center;
    color: #eee;
    line-height: 100px;
    background-color: #333;
}














/* desktop styles */
@media only screen and (min-width:700px) {




/* header */ 

   





}









/* main */
