@font-face {
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Inter&family=Roboto&display=swap");
}

/* Home page global styles */
header, footer {
    background-color: #333333;
}
body {
    font-family: "Roboto", sans-serif;
}

input [type=text] {
    border-radius: 10%;
    width: 100%;
    padding: 10px;
}










/* Home page mobile styles */
@media only screen and (min-width:390px) {
    
/* header */    
    nav {
        display: none;
    }
    
    nav a {
        text-decoration: none;
        color: #eee;
    }
    
    header ul { list-style-type: none;}

    #hamburger-menu {
        display: none;
    }

    #hamburger-menu:checked ~ nav {
        display: block;
        background-color: #333;
        max-width: 125px;
    }
    label {
        color: #eee;
        font-size: 2em;
    }
    .test > * {
        text-align: left;
        padding: 5px 0px;
        margin: 5px 0px;
    }

    .main-nav {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .local-nav ul > * {
        display: inline;
    }
    .local-nav button {
        padding: 20px 5px;
        text-align: center;
    }



/* main */
/* footer */
    
}

/* desktop styles */
@media only screen and (min-width:800px) {

}