/* Footer */
.footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    background-color: #333;
    color: #eee;
    padding: 15px 0px;
}

.footer-container div {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    gap: 15px 0px;
}

.footer-container h5 {
    font-size: 1.1em;
    margin: 0px;
}

.footer-container a {
    text-decoration: none;
    color: #eee;
}

/* Main-Nav */

#current-home, #current-library, #current-cart, #current-account {
    color: #FDC50A;
    font-weight: bold;
}

.search-container {
    width: 100%;
    text-align: center;
}

.search-mobile {
    border-radius: 20px;
    width: 300px;
    height: 2.3em;
    margin: 15px 0px 0px 0px;
    border-color: #FDC50A;
    background-color: transparent;
}

input::placeholder {
    color: #777;
    font-size: 1.3em;
}

.current-sport {
    background-color: #FDC50A;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #ccc; 
}

.main-nav-container {
    height: 70px;
    background-color: #333;
    align-items: center;
    display: grid;
}

.main-nav-container a {
    display: grid;
    text-align: center;
    color: #eee;
    text-decoration: none;
    gap: 2px;
    font-size: 0.9em;
    padding: 10px 5px;
}


/* Local-Nav - Home */

.local-nav-container {
    height: 120px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: #eee;
    align-items: center;
}

.local-nav-menu {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin: 0px 10px;
}

.local-nav-menu a {
    color: #333;
    display: grid;
    text-align: center;
    gap: 2px;
    text-decoration: none;
    font-size: 0.8em;
    padding: 10px 5px;
}


/* Local-Nav - Library */

.content-switcher {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #fff;
    padding: 3px;
    border-radius: 25px;
}

.content-switcher a {
    text-align: center;
    border-radius: 20px;
    text-decoration: none;
    padding: 10px;
    color: #333;
}


/* Main - Home */  

.home-page-images {
    width: 100%;
    margin: auto;
}

.home-page-images-container i {
    color: #3FA535;
}

main h2 {
    text-align: center;
}

h2 i {
    margin: 0px 25px;
    color: #E84545;
}

.promotional-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* Main - Library */

.your-games-product-container a {
    text-align: center;
    text-decoration: none;
    background-color: #FDC50A;
    color: #333;
    border-radius: 20px;
    padding: 10px;
    font-weight: bold;
    font-size: 0.8em;
}

.your-games {
    background-color: #FDC50A;
}

.your-games-product-container {
    display: grid;
    gap: 0px 10px;
    align-items: center;
}

.game-description-text {
    place-self: start;
}


/* Main - Product Page */

.main-platform-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.main-platform-container select {
    text-align: center;
    align-self: center;
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 1px 1px 1px;
    font-size: 1em;
}

.main-platform-container h2 {
    justify-self: left;
    align-self: center;
}

.platform-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0px 10px;
}

.platform-container label {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 2px 0px;
}

.platform-container input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0px;
}

.platform-container label {
    border-radius: 3px;
    border: 1px solid #eee;
    box-shadow: 1px 1px 1px;
    font-size: 0.8em;
    padding: 20px 10px;
    text-align: center;
}

.platform-container input[type="radio"]:checked + label {
    border: 2px solid #FDC50A;
    color: #333;
    background-color: #FDC50A;
    font-weight: bold;
}

.payment-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    margin: 10px 0px 0px 0px;
    background-color: #eee;
}

.payment-container a {
    text-decoration: none;
    padding: 15px 20px;
    margin: 5px;
    border-radius: 10px;
    font-weight: bold;
}

.payment-container :nth-child(1) {
    background-color: #FF5B24;
    color: #fff;
}

.payment-container a:nth-child(2) {
    background-color: #FDC50A;
    color: #333;
}


/* Main-Cart */

.cart-text-format {
    display: grid;
    grid-template-rows: 1fr 1fr 2fr;
}

.quantity label::after {
    content: "";
    display: block;
}
.quantity label {
    font-size: 1em;
    font-weight: bold;
}

.main-cart-container {
    display: grid;
    margin: 0px 15px;
}

.delivery-and-payment-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-items: center;
    align-items: center;
    background-color: #eee;
    border-radius: 5px;
}

.delivery-and-payment-container i:first-child {
    padding: 10px;
    background-color: #ccc;
    border-radius: 5px;
    color: #333;
}

.order-info-container {
    background-color: #eee;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    border-radius: 5px;
}

.order-info-container div {
    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-items: start;
    align-items: center;
}

.cart-cta {
    width: 100%;
    height: 50px;
    background-color: #333;
    text-align: center;
    text-decoration: none;
    line-height: 50px;
    color: #FDC50A;
    border: 1px solid #FDC50A;
    border-radius: 5px;
    margin: 10px auto;
}

.cart-text-format h2 {
    text-align: left;
}

.cart-text-format h3, .cart-text-format h4 {
    font-size: 0.8em;
    font-weight: 400;
    margin: 5px;
} 

.cart-text-format h5 {
    font-size: 0.8em;
    font-weight: bold;
}

.btn-container {
    text-align: center;
    margin: 15px 0px;
}

.btn-confirm-order {
    padding: 10px 60px;
    background-color: #333;
    border: 1px solid #FDC50A;
    cursor: pointer;
    color: #FDC50A;
    border-radius: 5px;
    font-size: 1em;
}

.popup {
    top: 0;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 30px;
    background-color: #FDC50A;
    border-radius: 10px;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.popup button {
    width: 100%;
    padding: 10px 0px;
    color: #FDC50A;
    font-size: 1em;
    background-color: #333;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 1px;
    cursor: pointer;
    
}


/* Main - Account */

.SoMe-account a {
    font-size: 2.5em;
    padding: 10px;
    margin: 10px;
}

.SoMe-account a:nth-child(1) {
    color: #25D366;
}
.SoMe-account a:nth-child(2) {
    color: #1DA1F2;
}
.SoMe-account a:nth-child(3) {
    color: #4267B2;
}

.account-container {
    display: grid;
    align-items: center;
    justify-items: center;
    margin: 0px 15px;
}


/* Main - Create Account */

.create-account-main-container {
    display: grid;
    grid-template-rows: repeat(5, auto);
    margin: 0px 15px;
}

.form-container form {
    display: grid;
    grid-template-rows: repeat(10, auto);
    gap: 10px;
}

.form-container input {
    height: 44px;
    border-radius: 5px;
    border: 1px solid #333;
}

.stepper-container {
    justify-self: center;
}

.stepper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
    padding: 0px;
    max-width: 340px;
    gap: 0px 5px;
}

.stepper-item {
    text-align: center;
}

.stepper li:first-child {
    border: 1px solid #FDC50A;
    border-radius: 10px;
    background-color: #FDC50A;
}

.stepper-item:before {
    content: "";
    position: relative;
    display: block;
}

/* Main-Contact */

.contact-main-container {
    display: grid;
    grid-template-rows: repeat(4, auto);
    align-items: center;
    gap: 15px 0px;
}
.contact-main-container h1 {
    text-align: center;
}

textarea {
    border-radius: 5px;
    border: 1px solid #333;
}
label {
    font-weight: bold;
    margin: 0px;
    padding: 5px;
}

/* Footer */
.footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    background-color: #333;
    color: #eee;
    padding: 15px 0px;
}

.footer-container div {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    gap: 15px 0px;
}

.footer-container h5 {
    font-size: 1.1em;
    margin: 0px;
}

.footer-container a {
    text-decoration: none;
    color: #eee;
}